.ant-picker-calendar {
  padding: 10px;
}

.ant-picker-calendar-date-content {
  overflow-x: hidden;
}

.events {
  padding: 0;
}

ul {
  padding: 0;
}
.ant-badge.ant-badge-status .ant-badge-status-text {
  font-size: 10px;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
  padding: 4px;
  height: 70px;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
  width: 3px;
  height: 3px;
}

.ant-badge.ant-badge-status {
  line-height: 100%;
}

.ant-picker-calendar-date-value {
  position: absolute;
  top: 0;
  right: 0;
}

.ant-picker-calendar-date-content {
  height: 100% !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
  display: none;
}

.ant-radio-group {
  display: none;
}
