.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav-btn {
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #008fcc;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.calendar th {
    background-color: #f4f4f4;
}

.calendar td {
    background-color: #fff;
}

.today{
    color: red;
}